Solutions/GameLobbyCreate/LobbyService/Service References/ServiceReference3/Service33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlreadExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiceEyes" type="xs:int" />
      <xs:element minOccurs="0" name="DiceOnceDouble" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiceOne" type="xs:int" />
      <xs:element minOccurs="0" name="DiceTwiceDouble" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiceTwo" type="xs:int" />
      <xs:element minOccurs="0" name="IsDiceRolling" type="xs:boolean" />
      <xs:element minOccurs="0" name="Jail" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>