Solutions/Update 10-12-13/GameLobbyCreate/LobbyService/Service References/ServiceReference1/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyService.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyService.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventCardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashChange" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardLocation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanceChoice" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEscapePrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsGlobal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocationChangeBW" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocationChangeFW" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPayHouse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="SoftLocation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventCardData" nillable="true" type="tns:EventCardData" />
  <xs:complexType name="ArrayOfHouseCardData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseCardData" nillable="true" type="tns:HouseCardData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseCardData" nillable="true" type="tns:ArrayOfHouseCardData" />
  <xs:complexType name="HouseCardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyCost" type="xs:int" />
      <xs:element minOccurs="0" name="Group" type="xs:int" />
      <xs:element minOccurs="0" name="HouseCost" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Rent0" type="xs:int" />
      <xs:element minOccurs="0" name="Rent1" type="xs:int" />
      <xs:element minOccurs="0" name="Rent2" type="xs:int" />
      <xs:element minOccurs="0" name="Rent3" type="xs:int" />
      <xs:element minOccurs="0" name="Rent4" type="xs:int" />
      <xs:element minOccurs="0" name="Rent5" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseCardData" nillable="true" type="tns:HouseCardData" />
  <xs:complexType name="ArrayOfEventCardData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventCardData" nillable="true" type="tns:EventCardData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventCardData" nillable="true" type="tns:ArrayOfEventCardData" />
</xs:schema>