Solutions/GameLobbyCreate/LobbyService/Service References/ServiceReference2/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlreadExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfPlayerLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerLobby" nillable="true" type="tns:PlayerLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerLobby" nillable="true" type="tns:ArrayOfPlayerLobby" />
  <xs:complexType name="PlayerLobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="IsAwaitingForPlayers" type="xs:boolean" />
      <xs:element minOccurs="0" name="LobbyId" nillable="true" type="tns:Lobby" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerLobby" nillable="true" type="tns:PlayerLobby" />
  <xs:complexType name="Lobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lobby" nillable="true" type="tns:Lobby" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>