Solutions/GameLobbyCreate V2 zonder MVVM/LobbyService/Service References/ServiceReference2/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63494/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63494/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63494/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="IService2_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GatAvailablePlayLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GatAvailablePlayLobbies" />
  </wsdl:message>
  <wsdl:message name="IService2_GatAvailablePlayLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GatAvailablePlayLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IService2_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetPlayerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerId" />
  </wsdl:message>
  <wsdl:message name="IService2_GetPlayerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteAllLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllLobbies" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteAllLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="IService2_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeletePlayerLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerLobby" />
  </wsdl:message>
  <wsdl:message name="IService2_DeletePlayerLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_JoinLobbyRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyRoom" />
  </wsdl:message>
  <wsdl:message name="IService2_JoinLobbyRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ShowPlayersInLobbyRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowPlayersInLobbyRoom" />
  </wsdl:message>
  <wsdl:message name="IService2_ShowPlayersInLobbyRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowPlayersInLobbyRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/CreateLobby" message="tns:IService2_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/CreateLobbyResponse" message="tns:IService2_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GatAvailablePlayLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GatAvailablePlayLobbies" message="tns:IService2_GatAvailablePlayLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GatAvailablePlayLobbiesResponse" message="tns:IService2_GatAvailablePlayLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetPlayer" message="tns:IService2_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetPlayerResponse" message="tns:IService2_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetPlayerId" message="tns:IService2_GetPlayerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetPlayerIdResponse" message="tns:IService2_GetPlayerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteAllPlayers" message="tns:IService2_DeleteAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteAllPlayersResponse" message="tns:IService2_DeleteAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteAllLobbies" message="tns:IService2_DeleteAllLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteAllLobbiesResponse" message="tns:IService2_DeleteAllLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeletePlayer" message="tns:IService2_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeletePlayerResponse" message="tns:IService2_DeletePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayerLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeletePlayerLobby" message="tns:IService2_DeletePlayerLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeletePlayerLobbyResponse" message="tns:IService2_DeletePlayerLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobbyRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/JoinLobbyRoom" message="tns:IService2_JoinLobbyRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/JoinLobbyRoomResponse" message="tns:IService2_JoinLobbyRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowPlayersInLobbyRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ShowPlayersInLobbyRoom" message="tns:IService2_ShowPlayersInLobbyRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ShowPlayersInLobbyRoomResponse" message="tns:IService2_ShowPlayersInLobbyRoom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLobby">
      <soap:operation soapAction="http://tempuri.org/IService2/CreateLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatAvailablePlayLobbies">
      <soap:operation soapAction="http://tempuri.org/IService2/GatAvailablePlayLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IService2/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerId">
      <soap:operation soapAction="http://tempuri.org/IService2/GetPlayerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllPlayers">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllLobbies">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteAllLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap:operation soapAction="http://tempuri.org/IService2/DeletePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayerLobby">
      <soap:operation soapAction="http://tempuri.org/IService2/DeletePlayerLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobbyRoom">
      <soap:operation soapAction="http://tempuri.org/IService2/JoinLobbyRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowPlayersInLobbyRoom">
      <soap:operation soapAction="http://tempuri.org/IService2/ShowPlayersInLobbyRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:63494/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>