Solutions/Update 10-12-13/GameLobbyCreate/PhoneApp1/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO.MonopolyEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO.MonopolyEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://monopolygame.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" />
  <xs:import schemaLocation="http://monopolygame.cloudapp.net/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LobbyService.Web" />
  <xs:import schemaLocation="http://monopolygame.cloudapp.net/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveGamePlayer" type="xs:unsignedByte" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" minOccurs="0" name="ActivePlayer" nillable="true" type="q1:Player" />
      <xs:element minOccurs="0" name="ActiveTileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPhase" type="tns:GameFunctions.TurnState" />
      <xs:element minOccurs="0" name="DieCast" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnableBuy" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LobbyService.Web" minOccurs="0" name="LocalCardData" nillable="true" type="q2:ArrayOfHouseCardData" />
      <xs:element minOccurs="0" name="PlayerList" nillable="true" type="tns:ArrayOfGamePlayer" />
      <xs:element minOccurs="0" name="PlayerNum" type="xs:unsignedByte" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" minOccurs="0" name="PlayerTradeRequested" nillable="true" type="q3:Player" />
      <xs:element minOccurs="0" name="PropertyTradeDirection" type="tns:GameFunctions.Direction" />
      <xs:element minOccurs="0" name="PropertyTradeRequested" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RevisionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SetupComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="TurnNumber" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lastDieRoll" nillable="true" type="q4:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:simpleType name="GameFunctions.TurnState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BeginPhase" />
      <xs:enumeration value="BuyPhase" />
      <xs:enumeration value="TradePhase" />
      <xs:enumeration value="WaitPhase" />
      <xs:enumeration value="EndPhase" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameFunctions.TurnState" nillable="true" type="tns:GameFunctions.TurnState" />
  <xs:complexType name="ArrayOfGamePlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GamePlayer" nillable="true" type="tns:GamePlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGamePlayer" nillable="true" type="tns:ArrayOfGamePlayer" />
  <xs:complexType name="GamePlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" type="xs:int" />
      <xs:element minOccurs="0" name="HasEscapePrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPlaying" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" type="xs:unsignedByte" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" minOccurs="0" name="MyPlayer" nillable="true" type="q5:Player" />
      <xs:element minOccurs="0" name="MyState" nillable="true" type="tns:GameState" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PlayerProperty" nillable="true" type="tns:ArrayOfOwnedProperty" />
      <xs:element minOccurs="0" name="PrisonTime" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamePlayer" nillable="true" type="tns:GamePlayer" />
  <xs:complexType name="ArrayOfOwnedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnedProperty" nillable="true" type="tns:OwnedProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOwnedProperty" nillable="true" type="tns:ArrayOfOwnedProperty" />
  <xs:complexType name="OwnedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseLevel" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Morguage" type="xs:boolean" />
      <xs:element minOccurs="0" name="SetLevel" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OwnedProperty" nillable="true" type="tns:OwnedProperty" />
  <xs:simpleType name="GameFunctions.Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nulled" />
      <xs:enumeration value="indir" />
      <xs:enumeration value="outdir" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameFunctions.Direction" nillable="true" type="tns:GameFunctions.Direction" />
  <xs:complexType name="StateToClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePlayer" nillable="true" type="tns:GamePlayerToClient" />
      <xs:element minOccurs="0" name="ActiveTileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPhase" type="tns:GameFunctions.TurnState" />
      <xs:element minOccurs="0" name="DieCast" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnableBuy" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerList" nillable="true" type="tns:ArrayOfGamePlayer" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" minOccurs="0" name="PlayerTradeRequested" nillable="true" type="q6:Player" />
      <xs:element minOccurs="0" name="PropertyTradeDirection" type="tns:GameFunctions.Direction" />
      <xs:element minOccurs="0" name="PropertyTradeRequested" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TurnNumber" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lastDieRoll" nillable="true" type="q7:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateToClient" nillable="true" type="tns:StateToClient" />
  <xs:complexType name="GamePlayerToClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" type="xs:int" />
      <xs:element minOccurs="0" name="HasEscapePrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPlaying" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrison" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" type="xs:unsignedByte" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LobbyService.Web.DTO" minOccurs="0" name="MyPlayer" nillable="true" type="q8:Player" />
      <xs:element minOccurs="0" name="PrisonTime" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamePlayerToClient" nillable="true" type="tns:GamePlayerToClient" />
</xs:schema>